:root {
  --background-grey: hsl(180, 4%, 24%);
  --white-grey: #eee;
  --play-button-width: 3rem;
}

.audio-player {
  height: 25rem;
  width: 20rem;
  background-color: var(--background-grey);
  padding: 1.5rem 0.75rem;
}

.album-cover-container {
  width: 100%;
  height: auto;
  background-color: var(--background-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

.album-cover {
  height: 70%;
  width: 70%;
  border-radius: 1.5rem;
  border-width: 0.25rem;
  border-style: solid;
  border-color: var(--white-grey);
}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.75rem;
}

.play-pause {
  background-color: transparent;
  border: 0;
  height: var(--play-button-width);
  width: var(--play-button-width);
  cursor: pointer;
  padding: 0;
}

/* 
For Slider Styling:

::-webkit-slider-thumb
::-moz-range-thumb
::-ms-thumb

::-webkit-slider-runnable-track
::-moz-range-track
::-ms-track
*/

.timeline {
  -webkit-appearance: none;
  width: calc(100% - var(--play-button-width));
  height: 0.5rem;
  background-color: #e5e5e5;
  border-radius: 100vw;
  background-size: 0% 100%;
  background-image: linear-gradient(#DE5E97, #DE5E97);
  background-repeat: no-repeat;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #a94672;
}

.timeline::-webkit-slider-thumb:hover {
  background-color: #943f65;
}

.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}