/* Init Variables */
:root {
  --onyx-grey: hsl(180, 4%, 8%);
  --background-grey: hsl(180, 4%, 16%);
  --player-grey: hsl(180, 4%, 24%);
  --white-grey: #eee;
  --bright-blue: #00aaff;
  --play-button-width: 5rem;
  --nav-button-width: 3rem;
}


/* Style the Audio Player */
.audio-player {
  height: 25rem;
  width: 20rem;
  background-color: var(--player-grey);
  border-radius: 1.75rem;
  border-style: solid;
  border-color: var(--white-grey);
  border-width: 0.25rem;
  padding: 1.5rem 0;
  margin: auto;
}

.album-cover-container {
  width: 100%;
  height: auto;
  background-color: var(--player-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

/* 
For Slider Styling:

::-webkit-slider-thumb
::-moz-range-thumb
::-ms-thumb

::-webkit-slider-runnable-track
::-moz-range-track
::-ms-track
*/